<h1><p>問題</p></h1>
<p>
    <%= @question.body %>
</p>

<p>選択肢</p>

<% @question_number.zip(@choices) do |q, e| %>
    <p>
    <%= button_to "#{q}", "/questions/#{@question.id}/mark", method: :get , params: {choice_id: e.correct_answer}%>
    <%= e.body %>
    </p>
<% end %>

<p>
    <%= link_to '戻る', questions_path %>
</p>
