<% if Question.exists? %>
<h2>問題一覧</h2>
  <% @user.each do |e| %>
    <p>
      <%= e.body %>
    </p>
    
    <p>
    </p>
    <%= link_to '削除', question_path(e.id), method: :delete %>
    <hr class="hr1">
  <% end %>
<% end %>

<%= link_to 'クイズ作成', new_question_path %>

<p>
<%= link_to '戻る', questions_path %>
</p>
