// Place all the styles related to the questions controller here.
// They wil automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #FFFFCC;
}

h1{
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  
}

/*区切り線*/
.hr1 {
  border-top: 3px double #8c8b8b;
  background-color: rgb(300, 297, 131);
}

c{
  width: max(20vw, 400px);
  color: red;
}