// Place all the styles related to the questions controller here.
// They wil automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*区切り線*/
.hr1 {
  border-top: 3px double #8c8b8b;
  background-color: rgb(300, 297, 131);
}

c{
  width: max(20vw, 400px);
  color: red;
}

/*入力フォーム右下の//みたいなやつを消す*/
.form-control{
  resize: none;
}

/*正解マーク（円）*/
.circle{
  display: inline-block;
  width: 160px;
  height: 160px;
  text-align:center;
  line-height: 250px;
  border-radius: 50%;
  border: solid 20px red;
  position: relative;
  left: 150px;
}


/*バツ*/
.batu {
	position: relative;
	width: 30px; /* 縦棒の幅 */
	height: 180px; /* 縦棒の長さ */
	background: #3366cc; /* 縦棒の色 */
	transform: rotate(45deg); /* 角度 */
	left: 200px;
	bottom: 20px;
}

.batu::after {
	content: "";
	position: absolute;
	top: 73px; /* 横棒のy位置 */
	left: -73px; /* 横棒のX位置 */
	width: 180px; /* 横棒の長さ */
	height: 30px; /* 横棒の幅 */
	background: #3366cc; /* 横棒の色 */
}

button {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

button:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

button:hover {
 background-position: 0;
}

button:hover::before{
  width: 100%;
}

/* Presentational Styles */
button {
    margin: auto;
    position: relative;
    top: 250px;
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    height: 100px;
    place-items: center;
}